*

!.gitignore
!.gitattributes
!.git
!gm_test_a1.vmf
!gm_test_islands.vmf
!gm_prefab_buildings_a1.vmf
!maze.vmf
!new_testarea.vmf
!movemap_a.vmf
!leveltest.vmf
!newdumbmap.vmf
!map_v1_a.vmf
!map_v1_a.bsp
!hm_2.vmf
!zwz.vmf
